#healthView {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    width: 7rem;
}

#healthText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #333;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}